

<ul>
<% @patients.each do |pat| %>


<li> Name: <%= link_to pat.name, patient_path(pat) %> Number of Appointments: </li>



<% end %>

</ul>




1) patients #index page lists all of the patients and the number of appointments they have
   Failure/Error:
     within("ul") do
       expect(page).to have_content("Name: Marge Simpson Number of Appointments: 2")
       expect(page).to have_content("Name: Bart Simpson Number of Appointments: 1")
     end
